* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #222;
  height: 100%;
}
body {
  background-color: #222;
  height: 100%;
}
#root {
   background-color: #222;
   height: 100%;
}