.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #222;
    flex-direction: column;
}

.logo {  
    width: 30%;
}

.font{
    color: rgb(253, 253, 253);
    display: flex;
    font-weight: bold;
    font-size: 1.5em;
}

.container h1 {
    font-size: 2.5em;
    /* margin-bottom: .5em; */
    color: white;
}

.container h1 span{
   color: #ffbb33;
   padding: 0 0.2em;
   background-color: #222;
}

.container p {
    margin-bottom: 1.5em;
    /* color: #7b7b7b; */
    color: white;
}
