.maintenance_details {
    padding: 2em;
}

.maintenance_details h1,
.maintenance_details h2,
.maintenance_details p {
    margin-bottom: .5em;
}

.maintenance_details h1 {
    background-color: #222;
    color: #fb3;
    padding: 0.4em;
}

.maintenance_details span {
    font-weight: bold;
}

.details_container,
.service_form_container{
   border-bottom: 1px solid #7a7a7a;
   margin-bottom: 1.2em;
   padding-bottom: 1.2em;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.btn{
    background-color: #222;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 2%;
    border-color: white;
    border-style:solid;
    cursor: pointer;
    max-height: 40px;
}

.btn:hover{
    color: #222;
    background-color: yellow;
    transition: 0.5s;
}

.maintenance_info {
  width: 100%;
  color: #fff;
}